
/* Your CSS Code here. */

thead{background-color:#c0504d;
	  color:white
	  
}

table {
      border-collapse: collapse;
      width: 100%;
	 border: 1px solid #ddd;
    }

     td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: right;
    }

 td:first-child{
      text-align: left;
    }



